{% extends 'dashboard/layout.html' %}
{% load thumbnail %}
{% load i18n %}

{% block title %}
    {% trans 'Banner Mini' %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a></li>
        <li>{% trans "Contents" %}</li>
        <li class="active">'{{ banner_mini.banner_mini }}'</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% trans "Delete Banner Mini" %}
{% endblock %}

{% block dashboard_content %}
    <form action="." method="post">
        {% csrf_token %}
        <p>{% trans "Are you sure you want to delete this banner mini?" %}</p>
        <div class="form-group">
            <p><strong>{{ banner_mini.banner_mini }}</strong></p>
        </div>

        <div class="form-actions">
            <button class="btn btn-lg btn-danger" type="submit" data-loading-text="{% trans 'Deleting...' %}">{% trans "Delete" %}</button> {% trans "or" %}
            <a href="{% url 'dashboard:banner-mini-list' %}">{% trans "cancel" %}</a>
        </div>
    </form>
{% endblock dashboard_content %}
