{% extends "layout_offer.html" %}
{% load i18n %}
{% load product_tags %}

{% block title %}
{% trans "Sale" %} | {{ offer.name }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<div class="d-flex between-xs">
    <ul class="gdn-breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
        </li>
        <li>
            <a href="/offers/">{% trans "Sale" %}</a>
        </li>
        <li class="active">
            {{ offer.name }}
        </li>
    </ul>
</div>
{% endblock %}

{% block headertext %}
{% endblock %}

{% block content %}
    {% if not offer.is_available %}
        {% with "Maaf, Penawaran sudah tidak tersedia... Yuk temukan lagi produk insiprasi kamu" as wording %}
            {% include "partials/data-not-found.html" with id="product-list-not-found" wording=wording button_name="Temukan Lagi" id="product-list-not-found" image="product-not-found.png" grid="col-lg-7" %}
        {% endwith %}
    {% endif %}

{#    {% if upsell_message %}#}
{#        <div class="row">#}
{#            {% if offer.description %}#}
{#                <div class="col-sm-7">#}
{#                    <p>{{ offer.description|safe }}</p>#}
{#                </div>#}
{#            {% endif %}#}
{#                <div class="col-sm-5">#}
{#                    <div class="well">#}
{#                        <h2 class="h4"><i class="icon-exclamation-sign icon-large"></i> {% trans "What you need to do" %}</h2>#}
{#                        <p>{{ upsell_message }}</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}

    {% if products %}
        <section>
            <div>
                <ol class="row">
                    {% for product in products %}
                        <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">{% render_product product %}</li>
                    {% endfor %}
                </ol>
                {% include "partials/pagination.html" %}
            </div>
        </section>
    {% else %}
        {% with "Maaf, Produk Tidak Tersedia... Yuk temukan lagi produk insiprasi kamu" as wording %}
            {% include "partials/data-not-found.html" with id="product-list-not-found" wording=wording button_name="Temukan Lagi" id="product-list-not-found" image="product-not-found.png" grid="col-lg-7" %}
        {% endwith %}
    {% endif %}

{% endblock content %}
