{% load i18n %}
{% load staticfiles %}
{% load product_tags %}

<section id="mini-banner">
    <div class="container">
        <div class="gdn-title">
            <h4 class="text-title-3 text-title-4 text-black">
                Produk Terlaris
            </h4>
            <a href="/catalogue/?selected_facets=highlight%3ATrue" class="btn btn-link">Lihat Semua</a>
        </div>
    </div>
    <div class="container container-mobile-slider">
        <div class="gdn-slider">
            <div class="swiper-container slider-product">
                <div class="swiper-wrapper">
                    {% for product in data %}
                        <div class="swiper-slide gdn-slider-mid-mobile">
                            {% render_product product %}
                        </div>
                    {% endfor %}
                </div>
                <!-- Add Arrows -->
                <div class="gdn-slider-button-left">
                    <i class="fa fa-chevron-left"></i>
                </div>
                <div class="gdn-slider-button-right">
                    <i class="fa fa-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>
</section>
