{% load i18n %}


<div class="search-box">
    <form method="get" action="{% url 'search:search' %}">
        <div class="input-group search">
            <input name="q" type="text" class="form-control" id="input-search" placeholder="Cari Produk Jims Honey">
            <div class="input-group-append">
                <button type="button" class="btn btn-white search-button" type="submit" value="{% trans "Search" %}">
                    <i class="search-icon fa ion-ios-search-strong text-grey"></i>
                </button>
            </div>
        </div>
    </form>
</div>
