{% extends "customer/emails/base.html" %}
{% load i18n %}

{% block banner_header %}{% endblock %}

{% block tbody %}
    <tr>
        <td class="content-wrap">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td
                        style="font-size: 26px;text-align: center;font-weight: bold;font-style: normal;font-stretch: normal;line-height: 1.23;letter-spacing: normal;"
                        class="content-block content-text"
                    >
                        Halo, {{ user.first_name }}
                    </td>
                </tr>
                <tr>
                    <td
                        class="content-block content-text"
                        style="padding: 30px 0 50px 0;"
                    >
                        Terima kasih karena telah bergabung dengan
                        Jimshoney.com
                    </td>
                </tr>
                <tr>
                    <td
                        class="content-block content-text"
                        style="font-size: 20px;font-weight: 500;font-style: normal;font-stretch: normal;line-height: 1.2;letter-spacing: normal;"
                    >
                        Informasi akun Anda:
                    </td>
                </tr>
                <tr>
                    <td class="content-block content-text">
                        Email : {{ user.email }}
                    </td>
                </tr>
                <tr>
                    <td class="content-block" style="text-align:center">
                        <a href="{{ scheme }}://{{ domain }}" style="margin:30px 0"
                           class="btn-verify">Belanja Sekarang</a>
                    </td>
                </tr>
                <tr>
                    <td class="content-block content-text">
                        Jadilah dirimu sendiri dan penuhi gaya mu dengan
                        Jims Honey, keamanan belanja online terjamin
                        dengan metode pembayaran yang beragam. Banyak
                        pilihan produk dengan barang yang berkualitas dan
                        harga yang berteman dengan kantong.
                    </td>
                </tr>
                <tr>
                    <td class="content-block content-text">
                        Pastikan Anda berlangganan newsletter kami untuk
                        mengikuti berita & penawaran terbaru!
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
