{% extends "customer/emails/base.html" %}
{% load i18n %}

{% block banner_header %}
    <tr>
        <td>
            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="text-align: center;border-bottom: 1px solid #e6e6e6;">
                        <a href=""><img
                            src="http://dev-simpati.gramedia.io/static/img/banner/tokokasur-banner-email-medium.jpg"
                            alt=""></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}

{% block tbody %}
    <tr>
        <td class="content-wrap">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="font-weight: 500;" class="content-block content-text">
                        Halo, {{ email }}
                    </td>
                </tr>
                <tr>
                    <td class="content-block content-text">
                        Kami mendapatkan permintaan
                        untuk mengubah kata sandi akun Anda.
                        Jika anda meminta perubahan kata sandi, silahkan klik pada tombol berikut untuk mengubah kata
                        sandi Anda.
                    </td>
                </tr>
                <tr>
                    <td class="content-block" style="text-align:center">
                        <a href="http://{{ site.domain }}{{ reset_url }}"
                           class="btn-accent">Perbaharui Kata Sandi</a>
                    </td>
                </tr>
                <tr>
                    <td class="content-block content-text">
                        Apabila Anda tidak meminta perubahan kata sandi, Anda dapat mengabaikan email ini dan kata sandi
                        Anda tidak akan berubah
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}

