{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Password reset complete' %} | {{ block.super }}{% endblock %}

{#{% block breadcrumbs %}#}
{#<ul class="breadcrumb">#}
{#    <li>#}
{#        <a href="{{ homepage_url }}">{% trans 'Home' %}</a>#}
{#    </li>#}
{#        <li>#}
{#            <a href="{% url 'password-reset' %}">{% trans 'Password reset' %}</a>#}
{#        </li>#}
{#    <li class="active">{% trans 'Complete' %}</li>#}
{#</ul>#}
{#{% endblock %}#}



{% block content_wrapper %}
    {% block content %}
        {% block headertext %}{% trans "Password reset complete" %}{% endblock %}
        <div class="gdn-page">
            <div class="container">
                <div class="row center-lg center-sm center-xs">
                    <div class="col-lg-5 col-sm-8 col-xs-12">
                        <p class="text-body-1 with-margin-bottom d-block">
                            Kata sandi Anda telah disetel. Anda dapat melanjutkan dan masuk sekarang.</p>
                        <a href="{{ login_url }}" class="btn btn-black">Masuk Sekarang</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
