{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
        </li>
        <li class="active">{% trans 'Password reset' %}</li>
    </ul>
{% endblock %}

{% block headertext %}{% trans "Password reset" %}{% endblock %}

{% block content_wrapper %}
    {% block content %}

        <div class="gdn-page">
            <div class="container container-form">
                <form id="password_reset_form" class="gdn-form" action="." method="post">
                    {% csrf_token %}
                    <p class="text-heading-1">Harap masukkan alamat email Anda di bawah ini untuk menerima link reset
                        password.</p>
                    {% include 'partials/form_fields.html' with style='stacked' %}
                    <div class="form-group form-actions">
                        <button type="submit" class="btn btn-black btn-block"
                                data-loading-text="{% trans 'Mengirim...' %}">Kirim
                        </button>
                    </div>
                </form>
            </div>
        </div>

    {% endblock %}
{% endblock %}
