{% load staticfiles %}
{% load currency_filters %}
{% load utils_tags %}
<div class="accordion-checkout">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12 box-content with-margin-bottom">
            <section id="thank-you-top " class="with-margin-bottom d-block">
                <span class="text-heading-1">
                    Pesanan Anda telah kami terima dengan detail sebagai berikut:
                </span>
                <div class="d-block with-margin-bottom"></div>
                <div class="row  center-lg center-xs center-sm with-margin-bottom">
                    <div class="col-lg-4 col-sm-10 col-xs-12">
                        <span
                            class="d-block text-caption text-left with-margin-bottom">Nomor Virtual Account Anda</span>
                        <div class="input-group">

                            <input type="text" placeholder="Email Anda" class="form-control"
                                   name="code" id="code-copy" value="{{ source.va_number|default_if_none:'-' }}" readonly>
                            <div class="input-group-append">
                                <button type="button" id="copy-data" style="padding-left:15px; padding-right:15px;"
                                        class="btn btn-black" data-loading-text="Loading...">
                                    Copy
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-block with-margin-bottom"></div>
                <div class="row">
                    <div class="col-lg-3 col-sm-12 col-xs-12">
                        <span class="d-block text-body-1">
                            Nomor Pesanan
                        </span>
                    </div>
                    <div class="col-lg-9 col-sm-12 col-xs-12">
                        <span class="d-block text-heading-3">
                           {{ order.number }}
                        </span>
                    </div>
                    <div class="col-lg-3 col-sm-12 col-xs-12">
                        <span class="d-block text-body-1">
                            Total Belanja
                        </span>
                    </div>
                    <div class="col-lg-9 col-sm-12 col-xs-12">
                        <span class="d-block text-heading-3">
                           {{ order.total_incl_tax|currency:order.currency }}
                        </span>
                    </div>
                </div>
            </section>
        </div>
        <section id="alert-thank-you" class="with-margin-bottom d-block">
            <div class="d-flex middle-lg middle-xs middle-sm">
                <i class="fa ion-android-alert"></i>
                <span class="text-body-1">
                    {% delta_time order.date_placed 1 as expired_date %}
                    Dimohon transfer dalam waktu kurang dari 24 jam, bila melewati 24 jam pesanan akan dibatalkan secara
                    otomatis - Tenggang waktu: {{ expired_date |date:"l, d M Y G:i" }}
                </span>
            </div>
        </section>
        {% with source.source_type as source_type %}
            {% render_virtual_account source_type %}
        {% endwith %}
        <section class="thank-you-button">
            <div class="row center-xs">
                <div class="col-lg-8 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-xs-6 col-sm-6">
                            <a href="{% url 'customer:order' order_number=order.number %}"
                               class="btn btn-block btn-primary">Lihat Pesanan</a>
                        </div>

                        <div class="col-lg-6 col-xs-6 col-sm-6">
                            <a href="{{ homepage_url }}"
                               class="btn btn-block btn-secondary">Belanja Lagi</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
